<h2>Children LIST</h2>
<ul>
  {{#each childrenList}}
    <li>
      <label>
        {{this.name}}
        <select>
          <option value=''>Empty</option>
          {{#each ../giftsList}}
            <option value='{{this.id}}' {{#if (equals this.id ../giftId)}}selected="selected"{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </label>
      <button>Save</button>
       {{this.desc}}
    </li>
  {{/each}}
</ul>
<h2>Add child to Santa's list</h2>
<form action='/child' method="POST">
  <label>
    Name:
    <input name='name' type='text' />
  </label>
    <label>
    Description:
    <input name='desc' type='text' />
  </label>
  <button>Add</button>

</form>