<h2>Gifts list</h2>
<ul>
  {{#each giftsList}}
    <li>
      {{this.name}}
      ({{this.count}}
      pcs.)
      {{this.desc}}
    </li>
  {{/each}}
</ul>

<h2>Add gift to the list</h2>
<form class='form' action='/gift' method='POST'>
  <label>
    Name:
    <input name='name' type='text' />
  </label>
  <label>
    Amount [pcs.]
    <input name='count' type='number' />
  </label>
  <label>
    Description
    <input name='desc' type='text' />
  </label>
  <button class='btn'>Add</button>

</form>