<h2>Gifts list</h2>
<ul>
  {{#each childrenList}}
    <li>
      <label>
        {{this.name}}
        <select>
          <option value=''>Empty</option>
        </select>
      </label>
      <button>Save</button>
    </li>
  {{/each}}
</ul>